/*-- scss:defaults --*/

// Nerd Font
@import "https://www.nerdfonts.com/assets/css/webfont.css";

// JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

// Rufina
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

// Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// FUENTES ---------------------------------------------------------------------

$font-family-sans-serif: "Noto Sans", serif !default;
$font-family-monospace: "JetBrains Mono";
$presentation-font-size-root: 30px;

// COLORES ---------------------------------------------------------------------

$azul: #1A428A;
$blanco: #FFFFFF;
$celeste: #6AAAE4;
$gris: #c0c0c0 ;
$gris2: #4D4D4D;
$rosa: #F79CD4;
$negro: #131E29;
$rosa-claro: lighthen($rosa, 60);
$code-bg: #E5E5E5;
$code-color: $negro;

$body-bg: $azul !default;
$body-color: $blanco !default;
$link-color: darken($rosa, 10) !default;
$link-hover-color: darken($rosa, 25) !default;

$selection-bg: $gris !default;

// HEADER ----------------------------------------------------------------------

$presentation-heading-font: "Rufina", serif !default;
$presentation-heading-color: $rosa !default;

// CALLOUT ---------------------------------------------------------------------

$callout-border-width: 1rem;

/*-- scss:rules --*/

// ESTILOS PROPIOS -------------------------------------------------------------

.fin {
    font-family: "Fleur De Leah";
    color: $gris2;
}

.fondo {
    background-color: $rosa;
    border-radius: 5px;
    box-shadow: 2px 2px $blanco;
    padding: 10px;
    a {
      color: $azul;
        &:hover {
          color: $blanco;
        }
    }
}

.grande {
    font-size: 6em;
}

quarto-portada {
    color: $rosa;
    text-shadow: 2px 2px $blanco;
    font-size: 1.3em;
}

vhg {
    color: $rosa;
    font-weight: bold;
    text-decoration: solid 2px $blanco;
}

rosa {
    color: $rosa;
}

gris {
    color: $gris;
}

blanco {
    color: $blanco;
}

caa {
    color: $blanco;
    font-size: .7em;
    line-height: 10px;
}

.subtitle {
    color: $blanco;
    margin-top: -5px;
    margin-bottom: 0em;
    font-size: 1.2em;
}

.link {
    font-size: 6rem;
}

linea {
    text-decoration: underline 3px $rosa;
}

.tree {
    font-weight: bold;
}

.arbol {
    font-weight: bold;
}

.eqi-container {
  display: flex;
  justify-content: space-between;
}

azul {
    color: $azul;
}

.fondo-azul {
    background-color: $azul;
    padding: 5px;
}

.fondo-azul-gracias {
    background-color: $azul;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px $blanco;
}

lang-rosa {
    color: $blanco;
    &:hover {
        color: $rosa;
    }
}

gracias {
    font-family: "Rufina";
    color: $azul;
    font-weight: bold;
    font-size: 4em;
    text-shadow: 2px 2px $blanco;
}

barra {
  font-weight: bold;
  color: $rosa;
  font-family: "JetBrains Mono";
  font-size: 2.5em;
}

.caja1 {
  height: 125px;
  width: 125px;
  margin-bottom: 15px;
  border: 1px solid white;
  background-color: #B86092;
}

.caja2 {
  height: 125px;
  width: 125px;
  margin-left: 15px;
  border: 1px solid white;
  background-color: #007E2E;
}

// ESTILOS PERSONALIZADOS ------------------------------------------------------

.title-slide h1 {
  text-decoration: underline 2px solid $celeste;
  text-underline-offset: 5px;
}

.header-section-number {
    font-family: "JetBrains Mono";
    color: $blanco;
    font-size: .6em;
}

li::marker {
    color: $rosa;
}

:root {
    --quarto-hl-fu-color: #{$negro};
    --header-font-color: #{$rosa};
}

.reveal .footer > * {
    margin-top: 0;
    margin-bottom: 0;
    color: $blanco;
    font-family: "JetBrains Mono";
}

h1.title {
    margin-bottom: .7em;
    font-size: 3em;
}

code {
    border-radius: 0px;
}

// PORTADA ---------------------------------------------------------------------

.quarto-title-author-name {
    font-size: .7em;
    padding-bottom: 10px;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author a {
    font-size: .8em;
    padding-bottom: 10px;
}

.quarto-title-affiliation {
    font-size: .7em;
}

.quarto-title-author-email {
    color: $rosa;
    padding-bottom: 10px;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
    padding: 2em .5em .5em .5em;
    text-align: left;
}

#title-slide .subtitle, div.reveal div.slides section.quarto-title-block .subtitle {
  margin-bottom: .5rem;
}

.date {
    font-family: "JetBrains Mono";
    color: $gris;
    font-size: 1rem;
    margin-top: 0px imporant;
}

.reveal .slides section .fragment.hl-blanco {
  opacity: unset;
  visibility: unset;

  &.visible, &.current-fragment {
      color: $azul;
      background-color: $blanco;
      border-radius: 3px;
  }
}

.reveal .slides section .fragment.hl-proud {
  opacity: unset;
  visibility: unset;

  &.visible, &.current-fragment {
      color: $azul;
      background-color: $blanco;
      border-radius: 3px;
      box-shadow: 0px 0px 10px 10px $rosa;
  }
}

div.reveal.has-logo div.slide-number {
    font-family: "JetBrains Mono";
    color: $gris;
    font-size: .5em;
}

.reveal .footer > * {
    margin-top: 0;
    margin-bottom: 0;
    color: $celeste;
    font-family: "JetBrains Mono";
}

.reveal div.callout.callout-style-simple, .reveal div.callout.callout-style-default {
    border-left: 1rem solid $rosa;
    border-right: solid 1px $rosa;
    border-top: solid 1px $rosa;
    border-bottom: solid 1px $rosa;
}

.quarto-dark .code-with-filename .code-with-filename-file {
    background-color: $celeste;
    color: $blanco;
}
